# SPDX-FileCopyrightText: 2025 Chiel Douwes
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Release From Tag
on:
  push:
    tags:
      - "batl/v*.*.*"
      - "yact/v*.*.*"
      - "yape/v*.*.*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  generate-changelog:
    name: Generate changelog
    runs-on: ubuntu-latest
    outputs:
      release_body: ${{ steps.git-cliff.outputs.content }}
      release_program: ${{ steps.get-tag.outputs.release_program }}
      release_version: ${{ steps.get-tag.outputs.release_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get tag path
        id: get-tag
        run: |
          export REF_NAME=${{ github.ref_name }}
          echo "release_program=${REF_NAME%%/*}" >> $GITHUB_OUTPUT
          echo "release_version=${REF_NAME#*/}" >> $GITHUB_OUTPUT
          case "${REF_NAME%%/*}" in
            "yape")
              echo 'git_cliff_include="--include-path=dbpf_utils/src/editor/"' >> $GITHUB_OUTPUT
              ;;
          esac
      - name: Generate a changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: --latest
            "--tag=${{ steps.get-tag.outputs.release_version }}"
            "--tag-pattern=${{ steps.get-tag.outputs.release_program }}/v*"
            "--include-path=${{ steps.get-tag.outputs.release_program }}/"
            "--include-path=dbpf/"
            "--include-path=dbpf_utils/src/lib.rs"
            ${{ steps.get-tag.outputs.git_cliff_include }}

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test

  build:
    strategy:
      matrix:
        targets:
          - run-on: ubuntu-latest
            format: appimage
          - run-on: windows-latest
            format: nsis
          - run-on: macos-latest
            format: app
    runs-on: ${{ matrix.targets.run-on }}
    needs: generate-changelog
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install cargo packager
        run: cargo install --locked cargo-packager
      - name: Build Images
        env:
          CARGO_PACKAGER_SIGN_PRIVATE_KEY: ${{ secrets.UPDATER_KEY }}
          CARGO_PACKAGER_SIGN_PRIVATE_KEY_PASSWORD: ${{ secrets.UPDATER_KEY_PASSWORD }}
          RELEASE: ''
        run: |
          cargo build --profile dist --bin ${{ needs.generate-changelog.outputs.release_program }}
          cargo packager --profile dist -f ${{ matrix.targets.format }} -p ${{ needs.generate-changelog.outputs.release_program }}
      - uses: actions/upload-artifact@v6
        with:
          if-no-files-found: 'error'
          name: images_${{ github.run_id }}_${{ matrix.targets.run-on }}
          path: |
            target/release/*.AppImage
            target/release/*.exe
            target/release/*.tar.gz
            target/release/*.sig

  upload:
    needs: [ generate-changelog, build, test ]
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          pattern: images_${{ github.run_id }}_*
          path: ./images
      - id: changenotes-base64
        run: |
          export RELEASE_NOTES=$(base64 --wrap=0 << EOF
          ${{ needs.generate-changelog.outputs.release_body }}
          EOF
          )
          echo release-notes=$RELEASE_NOTES >> $GITHUB_OUTPUT
      - name: Make updater info
        run: |
          cat > update-info.json << EOF
          {
            "version": "${{ needs.generate-changelog.outputs.release_version }}",
            "notes": "${{ steps.changenotes-base64.outputs.release-notes }}",
            "pub_date": "$(date --utc --iso-8601=seconds)",
            "platforms": {
              "linux-x86_64": {
                "signature": "$(cat images/images_${{ github.run_id }}_ubuntu-latest/*.sig)",
                "url": "https://github.com/chieltbest/dbpf/releases/download/${{ needs.generate-changelog.outputs.release_program }}%2Flatest/$(basename images/images_${{ github.run_id }}_ubuntu-latest/*.AppImage)",
                "format": "appimage"
              },
              "windows-x86_64": {
                "signature": "$(cat images/images_${{ github.run_id }}_windows-latest/*.sig)",
                "url": "https://github.com/chieltbest/dbpf/releases/download/${{ needs.generate-changelog.outputs.release_program }}%2Flatest/$(basename images/images_${{ github.run_id }}_windows-latest/*-setup.exe)",
                "format": "nsis"
              },
              "darwin-aarch64": {
                "signature": "$(cat images/images_${{ github.run_id }}_macos-latest/*.sig)",
                "url": "https://github.com/chieltbest/dbpf/releases/download/${{ needs.generate-changelog.outputs.release_program }}%2Flatest/$(basename images/images_${{ github.run_id }}_macos-latest/*.tar.gz)",
                "format": "app"
              }
            }
          }
          EOF
      - name: Make zip files
        env:
          PROGRAM: ${{ needs.generate-changelog.outputs.release_program }}
          VERSION: ${{ needs.generate-changelog.outputs.release_version }}
        run: |
          rm -r target/distrib/ || true
          mkdir target/distrib/
          mkdir target/distrib/$PROGRAM-$VERSION-linux/
          mkdir target/distrib/$PROGRAM-$VERSION-windows/
          
          cp images/images_${{ github.run_id }}_ubuntu-latest/*.AppImage \
              target/distrib/$PROGRAM-$VERSION-linux/$PROGRAM.AppImage
          cp images/images_${{ github.run_id }}_windows-latest/*-setup.exe \
              target/distrib/$PROGRAM-$VERSION-windows/
          cp images/images_${{ github.run_id }}_windows-latest/$PROGRAM.exe \
              target/distrib/$PROGRAM-$VERSION-windows/$PROGRAM-portable.exe
          
          for OS in linux windows; do
            cp  $PROGRAM/CHANGELOG.md \
                $PROGRAM/README.md \
                target/distrib/$PROGRAM-$VERSION-$OS/
          done
          
          cd target/distrib/
          
          for OS in linux windows; do
            zip -9 -r $PROGRAM-$VERSION-$OS.zip \
                $PROGRAM-$VERSION-$OS/
          done
      - name: Update versioned release
        uses: mini-bomba/create-github-release@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          skip_tag_creation: 'true'
          fail_on_no_files: 'true'
          name: ${{ needs.generate-changelog.outputs.release_program }} ${{ needs.generate-changelog.outputs.release_version }}
          body: |
            > [!CAUTION]
            > These tools are currently EXPERIMENTAL!
            > Prepare for any packages you edit with them to be potentially broken.
            > Make proper backups accordingly.
            
            # Download/Run
            
            ## Windows [Download](https://github.com/chieltbest/dbpf/releases/download/${{ needs.generate-changelog.outputs.release_program }}%2F${{ needs.generate-changelog.outputs.release_version }}/${{ needs.generate-changelog.outputs.release_program }}-${{ needs.generate-changelog.outputs.release_version }}-windows.zip)
            Download the .zip archive, extract it, then either run the -setup.exe file to install the program with update capabilities, \
            or run the -portable.exe file to run the program directly without installing.
            > Windows might give you a SmartScreen warning; Windows' SmartScreen doesn't like unsigned executables, \
              but since it's quite expensive to have executables signed this will be a known flaw for the time being.
            
            ## Linux [Download](https://github.com/chieltbest/dbpf/releases/download/${{ needs.generate-changelog.outputs.release_program }}%2F${{ needs.generate-changelog.outputs.release_version }}/${{ needs.generate-changelog.outputs.release_program }}-${{ needs.generate-changelog.outputs.release_version }}-linux.zip)
            Download the .zip archive, extract it, then click on the .AppImage file to run it.
            
            ${{ needs.generate-changelog.outputs.release_body }}
          files: |
            target/distrib/*.zip
      - name: Update latest release
        uses: mini-bomba/create-github-release@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: "${{ needs.generate-changelog.outputs.release_program }}/latest"
          skip_tag_creation: 'false'
          fail_on_no_files: 'true'
          clear_attachments: 'true'
          name: ${{ needs.generate-changelog.outputs.release_program }} ${{ needs.generate-changelog.outputs.release_version }} (latest)
          body: |
            > [!CAUTION]
            > These tools are currently EXPERIMENTAL!
            > Prepare for any packages you edit with them to be potentially broken.
            > Make proper backups accordingly.
            
            # Download/Run
            
            ## Windows [Download](https://github.com/chieltbest/dbpf/releases/download/${{ needs.generate-changelog.outputs.release_program }}%2Flatest/${{ needs.generate-changelog.outputs.release_program }}-${{ needs.generate-changelog.outputs.release_version }}-windows.zip)
            Download the .zip archive, extract it, then either run the -setup.exe file to install the program with update capabilities, \
            or run the -portable.exe file to run the program directly without installing.
            > Windows might give you a SmartScreen warning; Windows' SmartScreen doesn't like unsigned executables, \
              but since it's quite expensive to have executables signed this will be a known flaw for the time being.
            
            ## Linux [Download](https://github.com/chieltbest/dbpf/releases/download/${{ needs.generate-changelog.outputs.release_program }}%2Flatest/${{ needs.generate-changelog.outputs.release_program }}-${{ needs.generate-changelog.outputs.release_version }}-linux.zip)
            Download the .zip archive, extract it, then click on the .AppImage file to run it.
            
            ${{ needs.generate-changelog.outputs.release_body }}
          files: |
            target/distrib/*.zip
            update-info.json
            images/images_${{ github.run_id }}_ubuntu-latest/*.AppImage
            images/images_${{ github.run_id }}_windows-latest/*-setup.exe
            images/images_${{ github.run_id }}_macos-latest/*.tar.gz
